#board{
    display: flex;
    /* flex: auto; */
    /* padding: 5px; */
    /* flex-direction: column; */
    gap: 1rem;
    justify-content: center;
}

body{
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.button{
    background-color: #04AA6D; /* Green */
    /* border: none; */
    color: white;
    padding: 15px 22px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 20%;
    max-width: 100px;
    box-sizing: border-box;
}