body {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-evenly;
    align-content: space-around;
}

* {
    outline: 1px solid red;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

.card {
    background-color: #e5e7eb;
    color: #1f2937;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }

#header {
    padding: 10px 10%;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-width: 10%;
    max-height: 10%;
  }

.header-list {
    list-style-type: none;
    display: flex;
    align-content: center;
    gap: 2rem;
}

.placeholder{
    /* margin: 10%; */
    height: 200px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6d747d;
    border-style: none;
    box-shadow: none;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card_head {
    margin: 0;
}

.btn{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 15px 5px 15px;
    display: flex;
    align-self: flex-start;
    /* margin: 10px; */
    /* align-items: flex-start; */
}
.mid {
    padding: 20px 10%;
    background-color: #1f2937;
    color: white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center; 
    /* align-items: center; */
    /* align-content: space-between; */
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container{
    padding: auto;
    display: flex;
    /* justify-content: space-around; */
    align-content: space-between;
    justify-content: space-between;
    padding: 10px  5%;
}

.card{
    /* display: flex; */
    /* flex-direction: column; */
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
    box-shadow: none;
    aspect-ratio: 1/1;
    max-width: 60%;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-wrap: wrap;
    align-items: center;
}

.quote{
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.quote_main{
    text-align: center;

}

.quote_auth{
    text-align: end;
    font-weight: 900;
    align-self: flex-end;
}

.
#footer {
    display: flex;
    justify-content: center;
    padding: 20px 20%;
    background-color: #1f2937;
    color: white;
}