body {
    margin: auto;
}

* {
    outline: 2px solid red;
  }

.top{
    padding: 20px;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    /* align-content: space-around; */
    /* justify-content: space-evenly; */

}

a {
    color: #f9faf8;
    text-decoration: none;
}

#logo {
    max-width: 50%;
    max-height: 50%;
  }

#header {
    display: flex;
    /* justify-content: space-between; */
    /* align-items:center; */
    /* align-content: space-around; */
}

.header-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.mid {
    display: flex;
    justify-content: space-around;
}

.main-content {
    display: flex;
}


#footer {
    display: flex;
    justify-content: center;
}